.index-page {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /* background-color: rgba(1, 0, 77, 1); */
  background-color: #000c2e;
  /* color: #66ffff; */
  color: #34dcfc;
}
.index-page .left-box,
.index-page .right-box {
  position: absolute;
  width: 25%;
  height: 80%;
  padding: 0.20rem 0.10rem;
  box-sizing: border-box;
  /* border: 1px solid rgba(12, 52, 184, 1);
  box-shadow: 0px 0px 5px 5px rgba(5, 9, 199, 1) inset; */
}
.index-page .left-box {
  top: 0;
  left: 0;
}
.index-page .right-box {
  top: 0;
  right: 0;
}
.index-page .bottom-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(20% - 20px);
  padding: 10px;
  box-sizing: border-box;
  /* border: 1px solid rgba(12, 52, 184, 1);
  box-shadow: 0px 0px 5px 5px rgba(5, 9, 199, 1) inset; */
}
.index-page .map-box {
  position: absolute;
  left: 25%;
  top: 0;
  width: 50%;
  height: 80%;
  padding: 10px;
  box-sizing: border-box;
}

/* 公共样式 */
/* .g-title {
  font-size: 18px;
  color: #fff;
  margin-bottom: 25px;
  
} */
.g-title {
  position: relative;
  border: 0 ;
  border-top: 0.01rem solid;
  border-bottom: 0.01rem  solid; /* 上下边框为1px,其余方向没有 */
  border-image:linear-gradient(90deg,rgb(0,60,80), rgb(4,20,42)) 1 1;
  margin-bottom: 0.10rem;
  font-size: 0.16rem;
  padding-left: 0.1rem;
  height: 0.3rem;
  line-height: 0.3rem;
  background: -webkit-linear-gradient(90deg, rgb(0,48,92), rgb(5,23,48)); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(90deg, rgb(0,48,92), rgb(5,23,48)); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(90deg, rgb(0,48,92), rgb(5,23,48)); /* Firefox 3.6 - 15 */
  background: linear-gradient(90deg, rgb(0,48,92), rgb(5,23,48)); /* 标准的语法（必须放在最后） */
 
}
.g-title ::before {
  content: '';
  background-color: rgb(0, 222, 234);
  width: 0.05rem;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.g-title .icon {
  /* display: inline-block;
  width: 25px;
  height: 21px;
  vertical-align: middle;
  background: url('../images/titleIcon.png') no-repeat;
  background-size: cover; */
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.g-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.g-box-border {
  background: url('../images/boxBorder.png') no-repeat;
  background-size: 100% 100%;
}

/* 左侧样式 */
.left-box .sample-number-box {
  font-size: 0.24rem;
  height: 10%;
}
.left-box .sample-number-box .num {
  margin-top: 0.2rem;
  padding: 0.2rem 0;
  text-align: center;
}
.left-box .sample-number-box .num-item {
  display: inline-block;
  padding: 0.05rem;
  background: url('../images/numItemBox.png') no-repeat;
  background-size: 100% 100%;;
  margin-left: 0.1rem;
  text-align: center;
}
.left-box .network-indicators-box {
  height: 57%;
}


.left-box .data-capture-box {
  margin-top: 0.2rem;
  height: 26%;
}
.left-box .data-capture-box .content {
  overflow: hidden;
  padding: 0.1rem;
  margin-top: 0.1rem;
}
.left-box .data-capture-box .content .num {
  font-size: 0.2rem;
  color: #00b0ed;
}
.left-box .data-capture-box .content .title {
  font-size: 0.14rem;
  color: #fff;
  margin-bottom: 0.10rem;
}
.left-box .data-capture-box .totalNum .num{
  font-size: 0.25rem;
  color: #fedb65;
}

.left-box .data-capture-box .buildingNum,
.left-box .data-capture-box .shop {
  width: 50%;
}
.left-box .data-capture-box .totalNum{
  width: 100%;
  margin-bottom: 0.2rem;
}

.left-box .data-capture-box .shop {
  float: right;
  
}
